<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fincoapps.servizone">

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SignInActivity"
            android:label="@string/title_activity_signin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ContactUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".experts.ExpertDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".experts.ExpertResultsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".RegisterExpertActivity" />
        <activity android:name=".ReviewsActivity" />
        <activity android:name=".experts.ReportExpert" />
        <activity android:name=".Imageview" />
        <activity android:name=".ShowImageActivity" />
        <activity android:name=".SocialNetworks" />
        <activity
            android:name=".interfaces.Startpage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPassword"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDlno4tm5TkUh3MkDl8yBVHwgzTWAH-DF0" />

        <activity
            android:name=".activities.SecondaryActivity"
            android:label="@string/title_activity_secondary"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fincoapps.servizone.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ViewServicesActivity"
            android:label="@string/title_activity_view_services"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AllServicesActivity"
            android:label="@string/title_activity_all_services"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.RegisterServiceActivity"></activity>
    </application>

</manifest>